@font-face {
  font-family: 'SuperRegular';
  src: url("../../font/GT-Super-Text-Trial-Regular.ttf");
}
@font-face {
  font-family: 'SuperMedium';
  src: url("../../font/GT-Super-Text-Trial-Medium.ttf");
}
@font-face {
  font-family: 'ubuntulight';
  src: url("../font/Ubuntu-Light.ttf");
}
@font-face {
  font-family: 'ubuntuMedium';
  src: url("../font/Ubuntu-Medium.ttf");
}
@font-face {
  font-family: 'ubuntuitalic';
  src: url("../font/Ubuntu-Italic.ttf");
}
